git
node_modules

# IntelliJ Project Files
.idea/
npm-cache.iml

# Tmp Directory
tmp/

# vim
*~
*.swp
*.swo

# OSX
.DS_Store
.VolumeIcon.icns
.fseventsd
.Trashes
._.Trashes
._.
.Spotlight-V100
Icon

# windows
Thumbs.db
Desktop.ini

#logs
*.log
